.font-face {
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oldstandardtt/v18/MwQubh3o1vLImiwAVvYawgcf2eVep1q4dHc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


p {
    font-family: Old Standard TT;
}
.row{
    background-color:black;
    border:2px dotted;
    padding:5px;
    margin:5px;
}
.columna{
    background-color: #D6EAF8;
    border: 2px dotted #D7DBDD;
    padding: 5px;
    margin: 1,5px;
    text-align: center;
    color: black;
}

.portada{
    background-color:#D6EAF8;
                     min-height: 450px;
}
.imagen-portada{
    width: 200px;
    height:200px;
    margin:10px;
    border-radius:40%;
}

.sobre-mi{
    min-height: 450px;
    color: black;
    background-color:RGB(214, 234, 248);
    text-align: center;
}

.seccion-title{
    font-size: 1rem;
    margin:40px;
}

.section-text{
    font-size: 1.2rem;
}

.card-img-top{
    width:200px;
    height:200px;
    margin:40px;
    border-radius: 20%;
}

.card-body{
    text-align: start;
    font-weight:200;
}
.carrousel-item{
    color:black;
}

